.vs
MingitavSozlukMobile/MingitavSozlukMobile/bin
MingitavSozlukMobile/MingitavSozlukMobile/obj
MingitavSozlukMobile/MingitavSozlukMobile/Sozluk.db
MingitavSozlukMobile/MingitavSozlukMobile.Android/bin
MingitavSozlukMobile/MingitavSozlukMobile.Android/obj
MingitavSozlukMobile/MingitavSozlukMobile.iOS/bin
MingitavSozlukMobile/MingitavSozlukMobile.iOS/obj
MingitavSozlukMobile.DataAccess/bin
MingitavSozlukMobile.DataAccess/obj
MingitavSozlukMobile.Entities/bin
MingitavSozlukMobile.Entities/obj